.country {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.reSelect {
  position: absolute;
  top: 0px;
  left: 40px;
  z-index: 10;
  width: 300px;
  border: 1px solid #556d91;
  padding: 3px;
  outline: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.number {
  background-color: #e0ebff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  color: #556d91;
  font-size: 14px;
  font-weight: bold;
}

.title {
  color: #192435;
}

.btns {
  display: flex;
  /* flex-direction: column; */
  gap: 8px;
}

.editBtn,
.deleteBtn {
  background-color: #556d91;
  color: #fff;
  font-size: 16px;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.editBtn:hover,
.deleteBtn:hover {
  opacity: 0.7;
}

.deleteBtn {
  background-color: #e74335;
}


@media (max-width: 450px) {
  .btns {
    flex-direction: column;
  }
}
